{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="responsive-container-block bigContainer">
  <div class="responsive-container-block Container">
      <div class="responsive-container-block leftSide">
        <p class="text-blk heading">
        Встречайте Команду Талантливых Разработчиков
      </p>
  <p class="text-blk subHeading">
    Добро пожаловать на нашу уникальную платформу, созданную для эффективного обучения программированию с использованием передовых технологий и автоматической проверкой кода. Мы стремимся сделать процесс изучения программирования увлекательным, интерактивным и максимально результативным.
  </p>
</div>

<div class="responsive-container-block rightSide">
  <img class="number1img fade-in" src="{% static 'images/about/11.jpg'%}">
  <img class="number2img fade-in" src="{% static 'images/about/12.jpg'%}">
  <img class="number3img fade-in" src="{% static 'images/about/13.jpg'%}">
  <img class="number5img fade-in" src="{% static 'images/about/14.jpg'%}">
  <iframe allowfullscreen="allowfullscreen" class="number4vid fade-in" poster="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/b242.png" src="https://www.youtube.com/embed/svg%3E?"></iframe>
  <img class="number7img fade-in" src="{% static 'images/about/15.jpg'%}">
  <img class="number6img fade-in" src="{% static 'images/about/16.jpg'%}">
</div>

    </div>
  </div>
</div>

{% endblock %}