{% extends 'base.html' %}
{% block content %}
<section style="margin-top: 200px; margin-bottom: 200px;">
  <div class="task-title-box">
  <h2>{{ task.title }}</h2>
  <p>{{ task.description }}</p>
  <a href="{% url 'task_list' %}" class="btn btn-primary">Назад к списку заданий</a>
</div>

  <form action="run_task_code" method="post">
      {% csrf_token %}
  <div class="compiler_buttons">
      <button type="submit" class="btn btn-primary" style="margin-left:50px; margin-top: 20px;">Run</button>
  </div>

  <div class="form-group" style=" width: 45%; height: 400px; margin-left:3%;margin-right:2%; display: inline-block; resize: none;">
    <label for="codearea">Code Area</label>
    <textarea type="text" class="form-control" id="codearea" name="codearea" rows="25" style="resize: none; color: white;" onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}">{{ code }}</textarea>
  </div>

  <div class="form-group" style="width: 45%; height: 400px; margin-left: 2%; margin-right:0; display: inline-block; ">
    <label for="output">Output</label>
    <textarea type="text" class="form-control" id="output" name="output" rows="25" disabled="" style="resize: none; color: white;"> {{ output }} </textarea>
  </div>
     <div class="form-group" style="margin-left:50px;margin-right:50px; margin-top: 20px;">
    <label for="isсorrect">Check</label>
    <textarea type="text" class="form-control" id="iscorrect" name="iscorrect" rows="1" disabled=""> {{ iscorrect }} </textarea>
  </div>
</form>
</section>

{% endblock %}
