{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="edit-profile-container" style="margin-top: 200px; margin-bottom: 150px;">
    <h1>Edit Profile</h1>

    <form method="post" action="{% url 'edit_profile' %}">
        {% csrf_token %}
        {{ user_form.as_p }}
        <button class="btn-edit" type="submit">Save Changes</button>
    </form>

    <h2>Change Password</h2>
    <form method="post" action="{% url 'edit_profile' %}">
        {% csrf_token %}
        {{ password_form.as_p }}
        <button class="btn-edit" type="submit">Change Password</button>
    </form>
  </div>
{% endblock %}