{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="faq-container" style="margin-top: 200px;">
  <h2>Часто задаваемые вопросы</h2>
  <form class="faq-search-form" method="get" action="{% url 'faq_list' %}">
    <input class="faq-search-input" type="text" name="q" placeholder="Поиск" value="{{ query }}">
    <button class="faq-search-button" type="submit">Искать</button>
  </form>

  {% if faqs %}
    <ul class="faq-list">
      {% for faq in faqs %}
        <li class="faq-item">
          <h4 class="faq-heading">Вопрос от {{ faq.user_name }}</h4>
          <p class="faq-question">{{ faq.question }}</p>
          {% if faq.answer %}
            <h5 class="faq-answer-heading">Ответ:</h5>
            <p class="faq-answer">{{ faq.answer }}</p>
          {% endif %}
          <p class="faq-meta">Дата создания: {{ faq.created_at }}</p>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Вопросы не найдены.</p>
  {% endif %}

  <button class="add-faq-button"><a href="{% url 'add_faq' %}">Добавить вопрос</a></button>
</div>
{% endblock %}
